.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: transparent;
  border-radius: 0rem;
}
.square > * {
  scale: 0;
  transition: 150ms all;
}

.square.visible > * {
  scale: 1;
}
.square[disabled] {
  pointer-events: none;
}
