.winner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 1;
  font-size: x-large;
  transition: 1200ms all;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  z-index: 10;
  font-weight: 600;
  padding: 1rem;
}
.winner-overlay.hidden {
  opacity: 0;
}
